<!-- app/views/users/index.html.erb -->
<h2>User Index</h2>
<table border="1">
    <tr>
      <th>Fist name</th> <th>Last name</th>
      <th>Username</th>
    </tr>
  <% @users.each do |ab| %>
    <tr>
      <td> <%= ab.first_name %></td>
      <td> <%= ab.last_name %> </td>
      <td> <%= ab.username %> </td>
    </tr>
  <% end %>
</table>
</td><br />
<% if cookies.signed[:user_id] == 1 %>
  <%= link_to "Add Users", :controller => "users", :action => "new" %>
  <%= link_to "Edit User", :controller => "users", :action => "chooseUser" %>
<% end %>
